INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
m4/*.m4
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/mdate-sh
build-aux/missing
build-aux/test-driver
config.h
config.h.in
config.log
config.status
configure
*.swp
*~
*.pot
*.gmo
doc/*.info
doc/version.texi
doc/stamp-vti
po/POTFILES
po/remove-potcdate.sed
po/stamp-po
src/.deps
src/*.o
src/*.obj
src/msmtp
src/msmtp.exe
stamp-h1
